body {
	background: black;
	font-family: Orbitron;
}

.flex-container {
	/*Defines container of all flex*/
	display: -webkit-box;
  	display: -moz-box;
 	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
}

.flex-logo {
	/*Top <div> for logo*/
	display: -webkit-box;
  	display: -moz-box;
 	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	justify-content: center;
}

.flex-logo-fix {
	width: 25%;
}

.flex-logo-picture {
	/*logo specifics*/
	/*background: blue;*/
	max-width: 100%;
}

.flex-shoutout {
	display: -webkit-box;
  	display: -moz-box;
 	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	justify-content: center;
}

.line {
    height: 25px;
    width: 3px;
    background-color: #39FF14;
    border-radius: 25%;
    display: inline-block;
	margin: 0 2 0 2;
}

.marquee {
	/*adds flex to the marquee element*/
	display: -webkit-box;
  	display: -moz-box;
 	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	display: block;
	width: 60%;
	max-width: 850px;
	color: white;
	font-size: 20px;
	text-align: center;
	border-radius: 8px;
	background-color: #333333;
	margin: initial;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}

.marquee span {
	display: inline-block;
	padding-left: 100%;
	text-indent: 0;
	border: 1px;
	animation: marquee 15s linear infinite;
}

.marquee span:hover {
	cursor: default;
	/* animation-play-state: paused */
}


@keyframes marquee {
	0%   { transform: translate(0, 0); }
	100% { transform: translate(-100%, 0); }
}

.flex-column {
	/*adds the flex element to column*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*background: green;*/
	justify-content: center;
	padding: 5 0 5 0;
	width: 100%;
	min-height: 200px;
}

.flex-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 60%;
	background-color: #b3b3b3;
	border-radius: 0px 0px 15px 15px;
	flex-wrap: wrap;
	justify-content: flex-end;
	max-width: 850px;
}

.text {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 0 5 0 5;
	width: 100%;
	min-height: 175px;
}

.text1 {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items; center;
	padding: 0 5 0 5;
	width:100%;
	min-height: 175px;
}

a.other1:link{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	color: #39FF14;
	height:45px;
	text-decoration: none;
	justify-content: center;
	width:100%;
}

a.other1:visited{
	color: #39FF14;
	text-decoration: none;
}

a.other1:hover{
	color: #39FF14;
	font-weight: bold;
}

a.other1:active{
	color: #99FF66;
	text-decoration: none;
}

a.custom:link{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	color: #39FF14;
	height:45px;
	text-decoration: none;
}

a.custom:visited{
	color: #39FF14;
	text-decoration: none;
}

a.custom:hover{
	color: #39FF14;
	font-weight: bold;
}

a.custom:active{
	color: #99FF66;
	text-decoration: none;
}

a.shop:link {
	color: white;
	text-decoration: none;
}
a.shop:visited {
	color: white;
	text-decoration: none;
}

a.shop:active {
	color: #39FF14;
	text-decoration: none;
}

.SSB {
	width: 40px;
	height: 40px;
}
.flex-section-signature {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 8px;
	font-weight: bold;
	padding-right: 25px;
	align-self: flex-end;
	justify-content: flex-end;
}

.flex-nav {
	display: -webkit-box;
  	display: -moz-box;
 	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	/*background: orange;*/
	justify-content: center;
}

.flex-ul {
	display: -webkit-box;
  	display: -moz-box;
 	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	list-style-type: none;
	padding: 0;    
	margin: 0 1 0 1;
	/*background: yellow;*/
	justify-content: flex-end;
	width: 60%;
	max-width:850px;
}

.flex-li {
	display: block;    
	color: white;
	font-size: 15px;
	text-align: center;
	width: 100px;
	padding: 2 0 0 0;
	border-radius: 25px;
	background-color: #333333;
	margin: 0 1 0 1;	
}

.flex-li:hover{
	-moz-box-shadow: 0 0 10px #39FF14;
	-webkit-box-shadow: 0 0 10px #39FF14;
	box-shadow: 0 0 10px #39FF14;
	cursor: pointer;
}

.flex-li:active{
	-moz-box-shadow: 0 0 10px #39FF14;
	-webkit-box-shadow: 0 0 10px #39FF14;
	box-shadow: 0 0 10px #39FF14;
	cursor: pointer;
	color: #39FF14;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #39FF14;
    border-radius: 50%;
    display: inline-block;
	margin: auto 2 auto 2;
}




